@import url('https://fonts.googleapis.com/css2?family=Metrophobic&family=Open+Sans:wght@300;400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Open Sans', sans-serif;
}

/* css styles for header */

.header-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 300px;
}

.header {
  max-width: 1380px;
  margin: 0 auto;
  padding: 10px 10px 0;
  padding-right: 30px;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.menu-item {
  position: relative;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Metrophobic', sans-serif;
  font-size: 15px;
  padding: 20px 32px 20px 0px;
}

.menu-item:hover .dropdown {
  display: flex;
  flex-direction: column;
}

hr {
  color: lightgray;
  opacity: 0.2;
}

i {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 6px;
  margin-bottom: 1px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.main-header {
  margin-top: 40px;
  font-size: 3.5rem;
  font-weight: 700;
}

.main-discription {
  margin-top: 20px;
  max-width: 960px;
  font-size: 1.3rem;
  line-height: 2.2rem;
  font-weight: 400;
}

.menu-item {
  position: relative;
  cursor: pointer;
}

.dropdown {
  display: none;
  flex-direction: column;
  position: absolute;
  text-align: start;
  border: 0;
  box-shadow: 0 5px 30px 0 rgba(108, 135, 135, 0.5);
  background: #fff;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 6px;
  margin-top: 20px;
  top: 30px;
  z-index: 1000;
}

.dropdown-item {
  list-style: none;
  font-size: 16px;
  padding: 0.5rem 1rem;
  white-space: nowrap;
}

.dropdown-item:hover {
  color: lightgreen;
}

.dropdown-link:hover {
  color: lightgreen;
}

.dropdown-link {
  text-decoration: none;
  color: black;
  font-weight: normal;
  display: block;
}

.arrow {
  padding-bottom: 20px;
}

.burger {
  display: none;
  cursor: pointer;
}

.hide {
  display: none;
}

.lololo {
  display: none;
}

/* css styles for main */

.main {
  max-width: 1380px;
  margin: 0 auto;
  padding: 20px;
}

.main-header {
  font-family: 'Open Sans', sans-serif;
  margin-top: 40px;
  font-size: 3.5rem;
  font-weight: 700;
}

.main-discription {
  font-family: 'Open Sans', sans-serif;
  margin-top: 20px;
  max-width: 960px;
  font-size: 1.3rem;
  line-height: 2.2rem;
  font-weight: 400;
}

/* ---------------- */

/* css styles for section */

.section {
  background-color: #ebf2f2;
  min-height: 0;
  padding: 0 4.5rem;
  position: relative;
}

.wrapper-section {
  max-width: 960px;
  margin: 0 auto;
  /* margin-top: 30px; */
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding: 50px 0;
  /* height: 100px; */
}

.article-item {
  display: flex;
  flex-basis: 350px;
  flex-grow: 1;
  background-color: #fff;
  padding: 30px 20px 30px 100px;
  border-radius: 5px;
  position: relative;
}

.article-header {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  color: black;
  font-weight: 400;
}

.article-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.7rem;
  font-size: 17px;
}

.article-item:hover {
  transition: all 0.2s ease-in-out;
  transform: translateY(-5px);
  box-shadow: 0 5px 50px 0 rgba(108, 135, 135, 0.2);
  cursor: pointer;
}

.article-img {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 20px;
}

.article-text {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.7rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.is-block {
  display: none;
}

/* ------------css style for searching  */
.search-wrapper {
  position: relative;
  margin: 0 auto;
  top: 15px;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 60px;
  transition: 0.5s;
  box-shadow: 0 0 0 5px #f0f2f4;
  overflow: hidden;
}

.search-wrapper .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
  cursor: pointer;
}

.search-wrapper .icon::before {
  position: absolute;
  content: '';
  width: 15px;
  height: 15px;
  border: 3px solid #5bd263;
  border-radius: 50%;
  transform: translate(-2px, -2px);
}

.search-wrapper .icon::after {
  position: absolute;
  content: '';
  width: 3px;
  height: 12px;
  background: #5bd263;
  transform: translate(8px, 8px) rotate(-45deg);
}

.search-wrapper.super {
  width: 360px;
}

.search-wrapper .inputContainer {
  position: relative;
  width: 300px;
  height: 60px;
  left: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-wrapper .inputContainer input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 10px 0;
}

/* .h {
  display: none;
} */

.dd {
  position: absolute;
  font-size: 25px;
  color: rgb(157, 151, 151);
  width: 300px;
  text-align: center;
  top: calc(50%);
  left: calc(50% - (300px / 2));
}

/* css styling for adaptiveness */

@media (max-width: 1070px) {
  .lololo {
    display: block;
  }

  .burger {
    display: flex;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
  }

  .burger span {
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: black;
  }

  .burger::before,
  .burger::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 80%;
    background-color: black;
    transition: all 0.3s ease 0s;
  }

  .burger::before {
    top: 0;
  }

  .burger::after {
    bottom: 0;
  }

  .burger.active span {
    transform: scale(0);
  }

  .burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }
  .burger.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }

  .burger.active.white-cross::before,
  .burger.active.white-cross::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 80%;
    background-color: white;
    transition: all 0.3s ease 0s;
  }

  .open {
    display: flex !important;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 50;
    overflow-y: auto;
    padding: 50px 40px;
    background-color: #191e1e;
    animation: burgerAnimation 0.4s;
  }

  .menu-item {
    width: 100%;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.4);
    /* display: block; */
    display: flex;
    align-items: center;
    height: 50px;
    margin: 1rem 0;
    margin-bottom: 3px;
    padding: 20px 32px 40px 0;
    /* padding: 1px; */
    color: white;
    font-size: 30px;
    cursor: pointer;
  }

  .menu-item:hover {
    color: #5bd263;
  }

  .arrow {
    content: '';
    border: solid gray;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 8px;
    margin-left: 6px;
    margin-bottom: 1px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    right: 10px;
    top: 20px;
  }

  .arrow-reverse {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

  .down {
    display: none;
  }

  .hover1:hover {
    color: aquamarine !important;
  }

  .is-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 10px 10px 10px 0;
  }

  .block-link {
    text-decoration: none;
    margin-bottom: 10px;
    color: #98afae;
  }

  .block-link:hover {
    color: #5bd263;
    cursor: pointer;
  }

  .hide {
    display: none;
  }

  .menu-item:hover .dropdown {
    display: none;
  }

  @keyframes burgerAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .section {
    background-color: #ebf2f2;
    padding: 0 1.5rem;
  }

  .header {
    height: 50px;
  }

  .logo {
    width: 200px;
  }

  .article-item {
    flex-basis: 350px;
  }
}

@media (max-width: 800px) {
  .wrapper-section {
    max-width: 700px;
  }

  .section {
    padding: 0 10px;
  }
}
